/* Typography */
@font-face {
  font-family:'HKGroteskBold';
  src:url('typefaces/HKGroteskBold.otf') format('opentype');
  font-weight:bold;
  font-style:normal;
}

@font-face {
  font-family:'HKGroteskItalic';
  src:url('typefaces/HKGroteskItalic.otf') format('opentype');
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family:'HKGroteskRegular';
  src:url('typefaces/HKGroteskRegular.otf') format('opentype');
  font-weight:normal;
  font-style:normal;
}

body {
  font-family:'HKGroteskRegular';
  font-size:20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'HKGroteskBold';
}

a, a:hover {
  text-decoration:underline;
  color:#2646be;
  font-weight:bold;
}

header {
  background:#2646be;
  color:#fff;
  padding-top:2em;
  padding-bottom:1em;
  margin-bottom:1em;
}

header a {
  color:#fff;
}

header p {
  font-size:90%;
}

section {
  padding-bottom:2em;
  padding-top:1em;
}

section h1 a {
  text-decoration:none;
  color:#b2b2b2;
}

section h1 a:hover {
  text-decoration:none;
}

figure {
  margin: 1em 0; 
}

figure img {
  max-height:300px;
}

aside {
  margin-top:1em;
  font-size:80%;
}

aside h2 {
  font-size:100%;
  padding-top:0.3em;
}

footer {
  padding-top:2em;
  background:#ececec;
  font-size:80%;
}