{{ define "main" }}

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-offset-1 large-10 small-12 cell">
      <header>
        <div class="pattern-status">
          {{ $dateAdded := .Params.Date }}
          {{ if ge $dateAdded (now.AddDate 0 -1 0) }}
          <p class="new-pattern">Just added ✨</p>
          {{ end }}
          {{ if eq .Params.archived true }}
          <p class="archived">
            <span>Archived 🗄️</span>
            {{ .Params.archive_reason }}
          </p>
          {{ else if eq .Params.future_pattern true }}
          <p class="future-pattern"><span>Future pattern 🔮</span>
            This is a placeholder for future pattern description.
          </p>
          {{ end }}
        </div>
        <div class="pattern-heading">
          <h1 class="pattern-heading-title">{{ .Title }}</h1>
          <ul class="pattern-heading-share">
            <li class="desktop-only"><a class="print" href="#">Print  🖨 </a></li>
            <li class="share-li">
              <a class="share twitter-share-button"
                 href="https://twitter.com/intent/tweet?text={{ .Site.Params.twitterText }}&url={{ .Permalink }}&via={{ .Site.Params.twitterHandle }}"
              >Tweet 🐦</a>
            </li>
          </ul>
        </div>
      </header>
    </div>
  </div>

  <section class="pattern-image grid-x grid-padding-x">
  <div class="large-10 large-offset-1 small-12 cell">
    <div class="pattern-image-div {{ urlize .Params.category }}">
      {{ if isset .Params "images" }}
      <img id="content" tabindex="0" class="" src="{{ (index .Params.images 0).url | relURL }}" alt="{{ .Params.alt }}" />
      {{ end }}
    </div>
  </div>
  </section>

  <section class="description grid-x grid-padding-x">
  <div class="large-2 large-offset-1 small-12 cell">
    <h2>Description</h2>
  </div>
  <div class="large-7 small-12 cell">
  {{ .Content }}
  </div>
  </section>

  {{ if isset .Params "advantages" }}
  <section class="advantages grid-x grid-padding-x">
  <div class="large-2 large-offset-1 small-12 cell">
    <h2>Advantages</h2>
  </div>
  <div class="large-6 small-12 cell">
    <ul>
      {{ range .Params.advantages }}
      <li>
        {{ . }}
      </li>
      {{ end }}
    </ul>
  </div>
  </section>
  {{ end }}

  {{ if isset .Params "limitations" }}
  <section class="limitations grid-x grid-padding-x">
  <div class="large-2 large-offset-1 small-12 cell">
    <h2>Limitations</h2>
  </div>
  <div class="large-6 small-12 cell">
    <ul>
      {{ range .Params.limitations }}
      <li>
        {{ . }}
      </li>
      {{ end }}
    </ul>
  </div>
  </section>
  {{ end }}

  {{ if isset .Params "examples" }}
  <section class="examples grid-x grid-padding-x">
  <div class="large-2 large-offset-1 small-12 cell">
    <h2>Examples</h2>
  </div>
  <div class="large-6 small-12 cell">
    <ul>
      {{ range .Params.examples }}
      <li>
        <div>
          {{ if isset . "img_src" }}
          <div class="examples-image">
            <img src="{{ .img_src | relURL }}" alt="{{ .alt_text | relURL }}">
          </div>
          {{ end }}
          {{ if isset . "title" }}
          <p class="examples-title">
            <a href="{{ .url }}">{{ .title }}</a>
            <img src="{{ "images/link-arrow.svg" | relURL }}" alt="">
          </p>
          {{ end }}
          <p>{{ humanize .description }}</p>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
  </section>
  {{ end }}


  <section class="related-patterns grid-x grid-padding-x">
  <div class="large-2 large-offset-1 small-12 cell">
    <h2>Related Patterns</h2>
  </div>
  <div class="large-7 small-12 cell">
    <ul class="grid-x pattern-card-container">
      {{ $currentCategory := .Params.category }}
      {{ $currentTitle := .Params.title }}
      <!-- Get different patterns in same category and shuffle -->
      {{ $patternsInCategory := where .Site.RegularPages ".Params.category" $currentCategory }}
      {{ $patternsInCategory := where $patternsInCategory ".Params.title" "!=" $currentTitle }}
      {{ $patternsInCategory := shuffle $patternsInCategory }}
      {{ range $index, $pattern := $patternsInCategory }}
      {{ if lt $index 2 }}
      <li class="large-5 small-12 cell pattern-card">
        <div onclick="window.location.assign('/patterns/{{ urlize .Params.title }}')" class="related-patterns-image {{ urlize .Params.category }}">
            {{ partial "pattern-card-tags.html" . }}
            {{ if isset .Params "images" }}
            <img src="{{ (index .Params.images 0).url | relURL }}" alt="{{ .Params.alt }}">
            {{ end }}
        </div>
        <a href="/patterns/{{ urlize .Params.title }}">{{ .Params.title }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
  </section>
</div>

{{ partial "pattern-page-feedback.html" }}

{{ end }}
