{% assign categories = site.category %}

<nav class="category-nav">
  <ul>
    {% for category in categories %}
    <li>
      <a href="/category/{{ category.title | slugify }}" class="border-{{ category.title  | slugify }} {% if page.layout == "home" and category.title == "All" %}active{% endif %}{% if page.title == category.title %}active{% endif %}">{% if category.title == "All" %}All patterns{% else if %}{{ category.title }}{% endif %}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<div class="category-nav-dismiss"></div>
