
<footer class="clear">
  <a class="back-to-top" href="#content">Back to top</a>
  <div class="ie-footer grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-4 large-offset-2 small-12 cell">
        <h2>Work with us</h2>
        <div class="address">
          <h3>Projects by IF Ltd.</h3>
          <p>Somerset House New Wing</p>
          <p>London, WC2R 1LA</p>
          <p>United Kingdom</p>
        </div>
        <div class="statements">
          <p><a class="footer-link" href="#">How IF uses data</a></p>
          <p><a class="footer-link" href="#">Modern Slavery Act statement</a></p>
        </div>
      </div>
      <div class="large-3 small-12 cell">
        <div class="business">
          <h3>Business enquiries</h3>
          <p>Contact us at</p>
          <p><a class="footer-link" href="#">hello@projectsbyif.com</a></p>
        </div>
        <div class="careers">
          <h3>Career opportunities</h3>
          <p>Visit our</p>
          <p><a class="footer-link" href="#">Job openings</a></p>
        </div>
        <div class="press">
          <h3>Press enquiries</h3>
          <p>Contact</p>
          <p><a class="footer-link" href="#">Grace Annan-Callcott</a></p>
        </div>
      </div>
      <div class="large-3 small-12 cell">
        <div class="social">
          <h3>Follow us</h3>
          <ul>
            <li><a class="footer-link" href="#">Twitter</a></li>
            <li><a class="footer-link" href="#">Instagram</a></li>
            <li><a class="footer-link" href="#">GitHub</a></li>
            <li><a class="footer-link" href="#">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
