<footer class="clear">
  <div class="ie-footer grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-3 small-12 cell">
        <h2>Made by IF</h2>
      </div>
      <div class="large-6 small-12 cell">
        <p>A technology studio specialising in the ethical and practical uses of data.</p>
        <a class="back-to-top" href="#content">back to the top ⤴</a>
      </div>
      <div class="large-3 small-12 cell">
        <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
