<footer class="clear">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 small-12 cell">
        <p>©️ <a href="https://projectsbyif.com">Projects By IF</a> Ltd. 2018</p>
        <p>Licenced under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>.</p>
        <nav>
          <ul class="footer-nav">
            <li><a href="https://projectsbyif.com/how-if-uses-data">How IF uses data</a></li>
            <li><a href="https://projectsbyif.com/code-of-conduct">Code of conduct</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
