<header role="banner" class="grid-container">
  <!-- To be hidden and displayed when focused on the keyboard -->
  <a class="skip-to-content" href="#content">Skip to content</a>
  <a class="skip-to-content-noscript" href="#content-noscript">Skip to content</a>
  <div class="grid-x grid-padding-x">
    <div class="small-12 large-12 cell">
      <!-- Added more contextual information to Logo link  -->
      <a href="https://projectsbyif.com" class="logo">Projects By IF Homepage</a>
      <!-- Changed to h1 as some pages exist without an h1 element -->
      <h1><a href="/" class="title">{{ site.title }}</a></h1>
      <a href="#" aria-expanded="false" class="menu">Menu</a>
      <!-- Added nav element for more semantic HTML -->
      <nav class="page-menu" role="navigation">
        <ul>
          <li>
            <p><a href="/about">About</a></p>
          </li>
          <li>
            <p><a href="/contribute">Contribute</a></p>
          </li>
          <li>
            <p><a href="https://trustanddesign.projectsbyif.com">Meetup</a></p>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
