<header class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-6 small-10 cell">
      <a href="/" class="logo">IF</a>
      <p class="title">{{ site.title }}</p>
    </div>
    <div class="small-2 large-0 cell mobile-menu-container">
      <a href="#" class="mobile-menu-link">Menu</a>
    </div>
    <div class="small-0 large-6 cell desktop-menu-container">
      <ul class="desktop-menu">
        <li><a href="/about">About</a></li>
        <li><a href="/contribute">Contribute</a></li>
      </ul>
    </div>
  </div>
</header>
