<header role="banner" class="grid-container">
  <!-- To be hidden and displayed when focused on the keyboard -->
  <a class="skip-to-content" href="#content">Skip to content</a>
  <a class="skip-to-content-noscript" href="#content-noscript">Skip to content</a>
  <div class="grid-x grid-padding-x">
    <!-- Clears floats on IE 9 -->
    <div class="clear small-12 large-12 cell">
      <a href="https://projectsbyif.com" class="logo">Projects By IF Homepage</a>
      <!--[if IE 8 ]>
      <a class="ie-logo" href="https://projectsbyif.com/">
        <img id="showMe" src="/images/if-logo-circle-01.jpg" alt="Projects By If Logo">
      </a>
      <![endif]-->

      <h1 id="ie-title"><a href="/" class="ie title">{{ site.title }}</a></h1>
      <a href="#" aria-expanded="false" id="ie-menu" class="menu">Menu</a>
      <nav class="page-menu" role="navigation">
        <ul>
          <li>
            <p><a href="/about">About</a></p>
          </li>
          <li>
            <p><a href="/contribute">Contribute</a></p>
          </li>
          <li>
            <p><a href="https://trustanddesign.projectsbyif.com">Meetup</a></p>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
