<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %} - IF</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="stylesheet" href="{{ "/assets/foundation.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="icon" id="favicon" href="https://s3-eu-west-1.amazonaws.com/projectsbyif.com/shared/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="https://s3-eu-west-1.amazonaws.com/projectsbyif.com/shared/apple_touch_icon.png">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %} - IF">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/projectsbyif.com/shared/fb-image.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@projectsbyif">
  <meta name="twitter:creator" content="@projectsbyif">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %} - IF">
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="twitter:image" content="https://s3-eu-west-1.amazonaws.com/projectsbyif.com/shared/fb-image.png">
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//projectsbyif.com/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->
</head>
