<header>
  <div class="ie-float-clear">
    <a href="https://projectsbyif.com/">
      <img id="showMe" src="images/if-logo-circle-01.jpg" alt="Projects By If Logo">
    </a>
    <div class="ie title" id="ie-title">
      <a href="/">{{ site.title }}</a>
    </div>
    <ul class="page-menu">
      <li>
        <p><a href="/about">About</a></p>
      </li>
      <li>
        <p><a href="/contribute">Contribute</a></p>
      </li>
      <li>
        <p><a href="https://trustanddesign.projectsbyif.com">Meetup</a></p>
      </li>
    </ul>
  </div>
</header>
