<div class=" pattern-image color-{{ page.category | slugify }}{% if page.illustration_version == 1 %} illustration_version_1{% endif %}">
  {% if page.images %}
    {% case page.images.size %}
      {% when 1 %}
      <div class="no-script-image-div grid-x one-image">
      <div class="large-12 medium-12 small-12 cell">
        <img src="{{ page.images[0].url }}" />
      </div>
      {% when 2 %}
      <div class="no-script-image-div grid-x two-image">
      {% assign count = 0 %}
      {% for image in page.images %}
        {% if count == 0 %}
          <div class="large-4 large-offset-2 medium-4 medium-offset-2 small-6 cell">
        {% else %}
          <div class="large-4 medium-4 small-6 cell">
        {% endif %}
            <img src="{{ image.url }}" />
          </div>
        {% assign count = count | plus: 1 %}
      {% endfor %}
      {% when 3 %}
      <div class="no-script-image-div grid-x three-image">
        <div class="small-12 cell phone">
          <img src="{{ page.images[1].url }}" alt="">
        </div>
      {% for image in page.images %}
      <div class="desktop large-4 medium-4 small-4 cell">
        <img src="{{ image.url }}" />
      </div>
      {% endfor %}
    {% endcase %}
  {% endif %}
  </div>
  </div>
</div>
