/* Intro */

/* header {
  background-color: rgb(84, 216, 255);
} */

.hompage-intro h1 {
  margin: 3rem 0 5rem 0;
}

.hompage-intro p {
  margin: 0 0 5rem 0;
  font-size: 2rem;
  line-height: 2.15rem;
}

/* Category Nav */

.category-nav {
  display: flex;
}

.category-nav li a {
  display: inline-block;
  color: #898993;
  font-size: 1.15rem;
  padding: 1rem 2rem;
}

.category-nav a.active {
  color: #242249;
}

.category-nav li a {
  text-transform: uppercase;
}

.category-nav .push {
  margin-left: auto;
}

/* Homepage sections */

.category-view .category-list,
.most-recent-view,
.alphabetical-view {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.most-recent-view,
.alphabetical-view {
  display: none;
}

/* Category heading */

.category-heading {
  align-items: center;
}

.category-view .category-heading {
  cursor: pointer;
}

.category-view .category-heading.active {

}

.category-heading h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

.category-heading h2 span {
  font-size: 1rem;
  vertical-align: super;
}

.see-more-button-container {
  text-align: end;
}

.see-more-button {
  display: none;
  line-height: 3.5rem;
  text-transform: uppercase;
}

/* Patterns list and cards */

.pattern-card {
  cursor: pointer;
  height: auto;
  margin-bottom: 0.9rem;
}

.pattern-card:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.pattern-card-image {
  border: 1px solid black;
  border-bottom: 0;
  height: 300px;
  padding: 1rem;
}

/* TODO - figure out what happens if there's more than one label on at once. */

.pattern-card-title .archived,
.pattern-card-title .future-pattern,
.pattern-card-title .new-pattern {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.75rem;
  padding: 0.1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.pattern-card-title .archived {
  background-color:#637578;
  color: white;
  width: 150px;
}

.pattern-card-title .future-pattern {
  border: 1px solid #979797;
  width: 175px;
}

.pattern-card-title .new-pattern {
  border: 1px solid #979797;
  width: 60px;
}

.pattern-card-title {
  background-color: white;
  border: 1px solid black;
  height: 75px;
  padding: 0.5rem 0.5rem;
}

.pattern-card-image img {
  height: 100%;
  width: 100%;
}

.pattern-card-title a {
  color: #242249;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 27px;
}

/* Category List Colours */

.category-list.authentication:hover {
  background-color: #72C7FF16;
}

.pattern-card.authentication .pattern-card-image {
  background-color: #72C7FF;
}

.category-list.permission-and-consent:hover {
  background-color: #FFAA7232;
}

.pattern-card.permission-and-consent .pattern-card-image {
  background-color: #FFAA72;
}
