/* Intro */

header.page {
  background-color: #F7F7F7;
}

.hompage-intro h1 {
  margin: 3rem 0 5rem 0;
}

.hompage-intro p {
  color: #62617C;
  margin: 0 0 5rem 0;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

/* Category Nav */

.grid-container.nav {
  border-bottom: 1px solid #DDDDE3;
}

.category-nav {
  display: flex;
}

.category-nav li a {
  display: inline-block;
  color: #242249;
  font-family: 'AcuminPro-Semibold', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0.5rem;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.category-nav a.active {
  background-color: white;
  border-top: 1px solid #DDDDE3;
  border-right: 1px solid #DDDDE3;
  border-left: 1px solid #DDDDE3;
  color: #242249;
}

.category-nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #DDDDE3;
  border-right: 1px solid #DDDDE3;
  border-left: 1px solid #DDDDE3;
}

.category-nav li a {
  text-transform: uppercase;
}

.category-nav .push {
  margin-left: auto;
}

/* Homepage sections */

.category-view,
.most-recent-view,
.alphabetical-view {
  background-color: white;
}

.category-view .category-list,
.most-recent-view,
.alphabetical-view {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.most-recent-view,
.alphabetical-view {
  display: none;
}

.category-list {
  position: relative;
}

/* Category heading */

.category-heading {
  align-items: center;
}

.category-heading h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.category-heading h2 span {
  font-size: 1rem;
  vertical-align: super;
}

/* See more button */

.see-more-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.see-more-button-container hr {
  width: 100% !important;
}

.see-more-button {
  background-color: white;
  border: 1px solid #DDDDE3;
  border-radius: 5px;
  color: #F6776C;
  font-family: 'AcuminPro-Semibold', sans-serif;
  font-weight: 600;
  display: none;
  padding: 0.5rem;
  transform: translateY(-22px)
}

.see-more-button:hover {
  border: 1px solid #F6776C;
}

.see-more-button:active,
.see-more-button:visited {
  color: #F6776C;
}

.see-more-button::after {
  content: ' ▼'
}

.see-more-button.active::after {
  content: ' ▲'
}

/* Patterns list and cards */

.pattern-card {
  cursor: pointer;
  height: auto;
  margin-bottom: 0.9rem;
  border: 1px solid #DDDDE3;
  border-radius: 5px;
}

.pattern-card:hover {
  transform: scale(1.01);
}

.pattern-card-image {
  border-bottom: 0;
  height: 300px;
  padding: 1rem;
}

/* TODO - figure out what happens if there's more than one label on at once. */

.pattern-card-title .archived,
.pattern-card-title .future-pattern,
.pattern-card-title .new-pattern {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.75rem;
  padding: 0.1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.pattern-card-title .archived {
  background-color:#637578;
  color: white;
  width: 150px;
}

.pattern-card-title .future-pattern {
  border: 1px solid #979797;
  width: 175px;
}

.pattern-card-title .new-pattern {
  border: 1px solid #979797;
  width: 60px;
}

.pattern-card-title {
  background-color: white;
  border: 1px solid #DDDDE3;
  height: 75px;
  padding: 0.5rem 0.5rem;
}

.pattern-card-image img {
  height: 100%;
  width: 100%;
}

.pattern-card-title a {
  color: #242249;
  font-family: 'AcuminPro-Semibold', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 27px;
}

/* Category List Colours */

.pattern-card.sharing-data:hover {
  box-shadow: 0px 0px 10px 10px rgb(114,199,255, 0.2);
}

.pattern-card.sharing-data .pattern-card-image {
  background-color: #72C7FF;
}

.pattern-card.logging-in:hover {
  box-shadow: 0px 0px 10px 10px rgb(255,170,114, 0.2);
}

.pattern-card.logging-in .pattern-card-image {
  background-color: #FFAA72;
}
