/* Intro */

header.page {
  background-color: #F7F7F7;
}

.homepage-intro {
  text-align: center;
}

.homepage-intro h1 {
  margin: 3rem 0 3rem 0;
}

.homepage-intro p {
  color: #62617C;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 500;
  margin: 0 0 3rem 0;
  font-size: 1.25rem;
  line-height: 1.3rem;
}

/* Category Nav */

.grid-container.nav {
  border-bottom: 1px solid #DDDDE3;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.grid-container.nav::-webkit-scrollbar {
  display: none;
}

.category-nav {
  display: flex;
}

.category-nav li a {
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #898993;
  display: inline-block;
  font-family: 'acumin-pro', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0.25rem;
  padding: 1rem 0.5rem;
  text-align: center;
  width: 140px;
}

.category-nav .expand-all {
  border-radius: 3px;
  border: 1px solid #DDDDE3;
  display: none;
  margin-top: 5px;
  padding: 0.5rem;
}

.category-nav .expand-all:hover {
  color: #242249;
}

.category-nav .view-by-category.active,
.category-nav .view-most-recent.active,
.category-nav .view-alphabetically.active {
  background-color: white;
  border-top: 1px solid #DDDDE3;
  border-right: 1px solid #DDDDE3;
  border-left: 1px solid #DDDDE3;
  color: #242249;
}

.category-nav .view-by-category:hover,
.category-nav .view-most-recent:hover,
.category-nav .view-alphabetically:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #DDDDE3;
  border-right: 1px solid #DDDDE3;
  border-left: 1px solid #DDDDE3;
  color: #242249;
}

.category-nav .view-by-category,
.category-nav .view-most-recent,
.category-nav .view-alphabetically {
  text-transform: uppercase;
}

/* Homepage sections */

.category-view,
.most-recent-view,
.alphabetical-view {
  background-color: white;
}

.most-recent-view,
.alphabetical-view {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.category-section:first-of-type {
  padding-top: 2.5rem;
}

.most-recent-view,
.alphabetical-view {
  display: none;
}

/* View by category */

.category-section.preview .pattern-card-container {
  display: none;
  transition: opacity 0.5s linear;
}

.category-section .pattern-card-container:first-child {
  display: inline-block;
  opacity: 1;
}

.category-section .pattern-card-container {
  transition: opacity 0.5s linear;
}

/* Category heading */

.category-heading {
  align-items: center;
}

.category-heading h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

.category-heading h2 span {
  font-size: 1rem;
  vertical-align: super;
}

/* See more button */

.see-more-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.see-more-button-container hr {
  width: 100% !important;
}

.see-more-button {
  background-color: white;
  border: 1px solid #DDDDE3;
  border-radius: 5px;
  color: #F6776C;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 600;
  display: none;
  padding: 0.5rem;
  transform: translateY(-22px)
}

.see-more-button:hover {
  border: 1px solid #F6776C;
}

.see-more-button:active,
.see-more-button:visited {
  color: #F6776C;
}

/* Patterns list and cards */

.pattern-card {
  cursor: pointer;
  border: 1px solid #DDDDE3;
  border-radius: 3px;
  height: 440px;
  margin-bottom: 0.9rem;
  /* width: calc(440px * 0.94); */
}

.pattern-card-image {
  border-bottom: 0;
  height: 340px;
  padding: 0.5rem;
  position: relative;
}

.pattern-card-image .tags {
  position: absolute;
  bottom: 0;
  display: flex;
}

.pattern-card-image .archived,
.pattern-card-image .future-pattern,
.pattern-card-image .new-pattern {
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.1rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.pattern-card-title {
  background-color: white;
  border-top: 1px solid #DDDDE3;
  box-sizing: border-box;
  height: 98px;
  padding: 0.5rem 0.5rem;
}

.pattern-card-image img {
  height: 100%;
  width: 100%;
}

.pattern-card-title a {
  color: #242249;
  font-family: 'acumin-pro', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 27px;
}

/* Category List Colours */
.pattern-card:hover {
  border: 0;
}

.pattern-card:hover .pattern-card-title {
  border: 1px solid transparent;
}

.pattern-card.signing-in-to-a-service:hover {
  box-shadow: 0px 0px 10px 10px rgb(150,225,170, 0.2);
}

.pattern-card.giving-and-removing-consent:hover {
  box-shadow: 0px 0px 10px 10px rgb(135,215,235, 0.2)
}

.pattern-card.sharing-data:hover {
  box-shadow: 0px 0px 10px 10px rgb(255,215,95, 0.2);
}

.pattern-card.understanding-automated-decisions:hover {
  box-shadow: 0px 0px 10px 10px rgb(255,145,105, 0.2);
}

.pattern-card.doing-security-checks:hover {
  box-shadow: 0px 0px 10px 10px rgb(250,160,170, 0.2);
}

.pattern-card.signing-in-to-a-service .pattern-card-image{
  background-color: rgb(150,225,170);
}

.pattern-card.giving-and-removing-consent .pattern-card-image {
  background-color: rgb(135,215,235);
}

.pattern-card.sharing-data .pattern-card-image {
  background-color: rgb(255,215,95);
}

.pattern-card.understanding-automated-decisions .pattern-card-image {
  background-color: rgb(255,145,105);
}

.pattern-card.doing-security-checks .pattern-card-image {
  background-color: rgb(250,160,170);
}

/* Media queries */

@media (min-width: 678px) {
  /* Category List */
  .category-section .pattern-card-container:nth-child(1),
  .category-section .pattern-card-container:nth-child(2) {
    display: inline-block;
    opacity: 1;
  }

}

@media (min-width: 1100px) {
  /* Header */
  .hompage-intro h1 {
    margin: 3rem 0 5rem 0;
  }

  .hompage-intro p {
    margin: 0 0 5rem 0;
    font-size: 1.5rem;
    line-height: 1.6rem;
    width: auto;
  }

  /* Nav */
  .grid-container.nav {
    overflow-x: hidden;
  }

  .category-nav li a {
    margin: 0 0.5rem;
    padding: 1rem 1rem;
    width: auto;
  }

  .category-nav .expand-all {
    display: inline-block;
  }

  .category-nav .push {
    margin-left: auto;
  }

  /* Heading */

  .category-heading h2 {
    font-size: 2.5rem;
  }

  /* Category List */

  .category-section .pattern-card-container:nth-child(1),
  .category-section .pattern-card-container:nth-child(2),
  .category-section .pattern-card-container:nth-child(3) {
    display: inline-block;
    opacity: 1;
  }

  /* Pattern card */

  .pattern-card-title a {
    font-size: 1.4rem;
  }
}
