body {
  color: #242249;
  background-color: white;
  font-family: 'acumin-pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.page {
  background-color: #F7F7F7;
}

main {
  background-color: white;
  margin-bottom: 38em;
  z-index: 10;
}

main.page {
  background-color: #F7F7F7;
}

h1, h2, h3 {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-bottom: 1px solid rgba(137, 137, 147, 0.25);
  margin: 0;
  max-width: unset;
  width: 100%;
}

.mobile-only {
  display: unset;
}

.desktop-only {
  display: none;
}

.expand-all.desktop-only {
  display: none !important;
}

/* Accessibility */

.skip-to-content, .skip-to-content-noscript {
  position: absolute;
  top: -200px;
  left: 35px;
  line-height: 25px;
}

.skip-to-content:focus, .skip-to-content-noscript:focus {
  top: 0;
  background-color: #000F7D;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  left: 0;
  text-decoration: underline;
}

.skip-to-content-noscript {
  display: none;
}

h2#content {
  tabindex: 0;
}

.back-to-top {
  color: white;
}

/* nav */

nav {
  background-color: rgba(255, 255, 255, 0);
  padding: 1rem 0;
}

nav.page, nav.patterns {
  background-color: transparent;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 500;
}

nav img {
  height: 30px;
}

nav h1 {
  display: inline-block;
  margin: 0;
}

nav h1,
nav .title,
nav .made-by {
  color: white;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: -0.2px;
  font-weight: 700;
}

nav h1,
nav .title {
  text-transform: lowercase;
}

nav .made-by {
  display: inline-block;
  margin: 0;
  padding-left: 2rem;
}

nav .made-by-alt {
  color: #242249;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 700;
  position: absolute;
  bottom: 1rem;
  left: 0.625rem;
}

nav .how-to p {
  margin: 0;
}

nav .title,
nav .made-by:hover {
  color: #EC392A;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav .push {
  margin-left: auto;
}

.global-category-nav {
  background: white;
  width: 100%;
  height: 100%;
  padding: 5rem 0.625rem;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 450;
}

.global-category-nav-list {
  margin-bottom: 1rem;
}

/* Footer */

footer {
  background-color: #242249;
  color: white;
  bottom: 0;
  left: 0;
  height: 38em;
  padding: 2rem 0 4rem 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

footer hr {
  min-width: 100%;
}

footer div.cell {
  padding: 2rem 0 0 0;
}

footer h2 {
  color: #EC392A;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: -0.2px;
  font-weight: 700;
  text-transform: lowercase;
}

footer h3 {
  font-size: 1.6rem;
  line-height: 1.7rem;
}

footer h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 1rem;
}

footer p {
  font-size: 1.6rem;
}

footer .license {
  color: rgb(189, 189, 200);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

footer.mobile-only .license {
  margin-top: 1rem;
}

footer .license a {
  font-weight: 700;
  color: rgb(189, 189, 200);
}

footer .license a:hover {
  color: white;
}

footer.mobile-only .data-usage-statement {
  margin-top: 0rem;
  display: block;
}

footer .data-usage-statement {
  color: rgb(189, 189, 200) !important;
}

footer .get-in-touch a,
footer .contribute a {
  color: white;
}

footer .get-in-touch a:hover,
footer .contribute a:hover {
  color: #EC392A;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li a {
  color: rgb(189, 189, 200);
  font-size: 1rem;
}

footer li a:hover {
  color: white;
}

/* Media Queries */

/* Large mobile eg. tablet or vertical orientation */
@media (min-width: 48em) {
  main {
    margin-bottom: 34em;
  }

  footer {
    height: 34em;
  }
}

/* Desktop */
@media (min-width: 64em) {
  .grid-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  h1 {
    font-size: 3.4rem;
    line-height: 3.5rem;
  }

  nav.page, nav.patterns {
    max-width: 92em;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }

  main {
    margin-bottom: 25em;
  }

  /* Footer */

  footer {
    padding: 2rem 0 5rem 0;
    height: 25em;
  }

  footer h4 {
    margin-top: 0;
    line-height: 1.7rem;
  }

  footer .contact.cell {
    padding-top: 2.27rem;
  }

  footer .get-in-touch {
    height: calc(1.7rem * 2);
  }

  footer .get-in-touch a,
  footer .contribute a {
    display: inline-block;
    margin: -2px;
  }

  footer .contribute {
    padding-top: 1.7rem;
  }

  footer .logo.cell {
    padding-top: 0.9rem;
  }

  footer .get-in-touch h4,
  footer .get-in-touch p,
  footer .contribute h4,
  footer .contribute p {
    font-size: 1.1rem;
  }

  footer .get-in-touch h4,
  footer .contribute h4 {
    margin-top: -1px;
  }

  footer .links li:first-of-type {
    margin-top: 4px;
  }

  footer .license {
    font-size: 0.9rem;
  }

  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: unset !important;
  }

  .expand-all.desktop-only {
    display: unset !important;
  }

/* Larger desktop adjustment */
@media (min-width: 78.5em) {
  main {
    margin-bottom: 25em;
  }

  footer {
    height: 25em;
  }
}
