body {
  color: #242249;
  background-color: white;
  font-family: 'acumin-pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.page {
  background-color: #F7F7F7;
}

main {
  background-color: white;
  margin-bottom: 22rem;
  z-index: 10;
}

main.page {
  background-color: #F7F7F7;
}

h1, h2, h3 {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-bottom: 1px solid rgba(137, 137, 147, 0.25);
  margin: 0;
  max-width: unset;
  width: 100%;
}

/* Accessibility */

.skip-to-content, .skip-to-content-noscript {
  position: absolute;
  top: -200px;
  left: 35px;
  line-height: 25px;
}

.skip-to-content:focus, .skip-to-content-noscript:focus {
  top: 0;
  background-color: #000F7D;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  left: 0;
  text-decoration: underline;
}

.skip-to-content-noscript {
  display: none;
}

h2#content {
  tabindex: 0;
}

.back-to-top {
  color: white;
}

/* nav */

nav {
  background-color: rgba(255, 255, 255, 0);
  padding: 1rem 0;
}

nav.page {
  background-color: transparent;
  position: absolute;
  top: 0;
  width:100%;
}

nav img {
  height: 30px;
}

nav h1 {
  display: inline-block;
  margin: 0;
}

nav h1,
nav .title,
nav .made-by {
  color: #242249;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 700;
}

nav h1,
nav .title {
  text-transform: lowercase;
}

nav .made-by {
  display: inline-block;
  margin: 0;
  padding-left: 2rem;
}

nav .how-to p {
  margin: 0;
}

nav .title {
  color: #EC392A;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav .push {
  margin-left: auto;
}

/* Footer */

footer {
  background-color: #242249;
  color: white;
  bottom: 0;
  height: 22rem;
  left: 0;
  padding: 2rem 0 5rem 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

footer hr {
  min-width: 100%;
}

footer div.cell {
  padding: 2rem 0 0 0;
}

footer h2 {
  color: #F6776C;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: lowercase;
}

footer h3 {
  font-size: 1.6rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.6rem;
}

footer .license {
  color: rgb(189, 189, 200);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

footer .license span {
  font-weight: 700;
}

footer .data-usage-statement {
  color: rgb(189, 189, 200);
}

footer .get-in-touch p,
footer .contribute p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}

footer .get-in-touch a,
footer .contribute a {
  color: white;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li a {
  color: white;
  font-size: 1rem;
}

/* Media Queries */

@media (min-width: 64em) {
  .grid-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  h1 {
    font-size: 3.4rem;
    line-height: 3.5rem;
  }

  nav.page {
    max-width: 92em;
    right: 0;
    left: 0;
    margin: auto;
  }

  /* Footer */


}
