/* General */
main.pattern {
  margin-top: -10rem;
  margin-bottom: 0; }
  main.pattern section {
    margin: 3rem 0; }
    main.pattern section:last-of-type {
      margin-bottom: 0; }
    main.pattern section.pattern-image {
      margin: 4rem 0 0 0; }
    main.pattern section h3 {
      font-size: 1.2rem;
      position: sticky;
      top: 11rem; }
    main.pattern section p,
    main.pattern section li {
      font-weight: 500; }

/* Heading */
.pattern-heading {
  position: sticky;
  top: 5.5rem;
  z-index: 10; }
  .pattern-heading h1 {
    font-size: 2.5rem; }
  .pattern-heading ul {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0; }
  .pattern-heading li {
    font-size: 1.25rem; }
    .pattern-heading li:first-of-type {
      margin: 0 1rem 0 0; }
  .pattern-heading .share,
  .pattern-heading .print {
    color: #29283D;
    font-weight: 400;
    text-transform: lowercase; }
    .pattern-heading .share:hover,
    .pattern-heading .print:hover {
      font-weight: 500; }

/* Image */
.pattern-image-div {
  background-color: #EFEFEF; }
  .pattern-image-div img {
    display: block;
    margin: 0 auto;
    width: 70%; }

/* Description */
.description p {
  font-size: 1.65rem;
  line-height: 1.2; }
  .description p:last-of-type {
    margin: 1.4rem 0 0 0; }

/* Advantages & Limitations */
.advantages li,
.limitations li {
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 1.4rem 0; }
  .advantages li:first-of-type,
  .limitations li:first-of-type {
    margin: 0 0 1rem 0; }
  .advantages li:last-of-type,
  .limitations li:last-of-type {
    margin: 1rem 0 0 0; }

/* Examples */
.examples li {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between; }
  .examples li:first-of-type {
    margin: 0 0 2rem 0; }
  .examples li p {
    line-height: 1.2; }

/* Related Patterns */
.related-patterns ul {
  display: flex;
  justify-content: space-between; }
.related-patterns li {
  display: flex; }
  .related-patterns li:first-of-type {
    margin: 0 2rem 0 0; }
  .related-patterns li div {
    background-color: #EFEFEF;
    margin: 0 2rem 0 0; }
.related-patterns img {
  height: 200px; }
.related-patterns a {
  color: #29283D;
  font-size: 1.3rem; }
  .related-patterns a p {
    line-height: 1.2; }

/* Feedback and Status */
.feedback-and-status {
  background-color: #EFEFEF;
  margin-bottom: 20rem;
  padding: 1rem 0; }

.feedback {
  display: flex; }
  .feedback p {
    flex: 0 0 auto;
    font-size: 1.3rem;
    margin: 0 2rem 0 0; }
  .feedback .success-message {
    display: none; }

.feedback-form {
  display: flex;
  flex-wrap: wrap; }
  .feedback-form input,
  .feedback-form a {
    color: #29283D;
    font-size: 1.3rem;
    margin: 0 2rem 0 0; }
  .feedback-form a,
  .feedback-form button {
    text-decoration: underline; }
  .feedback-form .usage-feedback {
    flex: 0 0 auto; }
  .feedback-form .detailed-feedback {
    display: none;
    width: 100%; }
    .feedback-form .detailed-feedback input {
      border: 1px solid black;
      height: 10rem;
      margin: 1rem 0;
      width: 100%; }
    .feedback-form .detailed-feedback button {
      font-size: 1.2rem; }
  .feedback-form .usage-feedback input {
    background: 0;
    border: 0;
    cursor: pointer;
    height: 100%;
    text-decoration: underline; }
