body {
  font-family: $body-font-family;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

::-moz-selection,
::selection {
  background: #212121;
  color: #FFF;
  text-shadow: none;
}

h1, h2, h3 {
  font-family: $header-font-family;
}

h1, h2, h3, p, ul {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  list-style-type: disc;
  margin-left: 1em;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 28px;
}

p, li {
  line-height: 1.45;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 22px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 36px;
  }
}
