header {
  width:100vw;
  height:72px;
  border-bottom:1px solid #f1f0ee;
  position:fixed;
  top:0;
  left:0;
  background:#FFF;
  z-index:1001;

  #logo {
    display:block;
    text-indent:-9999px;
    background-image:url('/images/if-logo.svg');
    background-repeat:no-repeat;
    background-size:contain;
    margin:0 auto;
    border-bottom:0;
    height:54px;
    width:40px;
    position:absolute;
    top:10px;
    left:calc(50% - 20px);
  }

  #menu {
    border-bottom:0;
    text-transform:uppercase;
    letter-spacing:1px;
    font-family:'Circular-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size:13px;
    position:absolute;
    top:30px;
    right:18px;
  }
}

footer {
  background:#212121;
  padding:18px;
  color:#FFF;

  a {
    color:#FFF;
    border-bottom:#FFF 1px solid;
  }
}

#intro {
  margin-top:calc(72px + 2em);
  margin-bottom:2em;
  width:calc(100vw - 36px);
  padding:0 18px;
}

#contents {
  width:100vw;
  height:calc(100vh - 73px - 2em);
  background:#2341C1;
  position:fixed;
  top:73px;
  left:0;
  display:none;
  overflow-x:scroll;
  z-index:1000;
  padding:1em 0;

  a {
    color:#FFF;
    border-bottom:0;
    text-align:center;
  }

  li {
    list-style-type:none;
    margin:0;
    padding:0;

     p {
       text-align:center;
       font-family:'Circular-Bold', 'Helvetica Neue', 'Arial', sans-serif;
       margin:1em 0;
     }
  }
}

.item {
  border-top:#f1f0ee 1px solid;
  padding:36px 18px;

  .illo {
    width:calc(100vw - 36px);
    height:10em;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
    margin:2em 0;
  }
}

.anchor {
  display:block;
  position:relative;
  top:-96px;
  visibility:hidden;
}

@media screen and (min-width: 1024px) {
  header {
    height:96px;

    #logo {
      width:51px;
      height:69px;
      left:calc(50% - 25.5px);
      top:14px;
    }

    #menu {
      display:none;
    }
  }

  #intro {
    margin-top:calc(72px + 4em);
    margin-bottom:2em;
    margin-left:auto;
    margin-right:auto;
    padding:0 18px;
    text-align:center;
    width:760px;
  }

  #contents {
    display:block;
    position:inherit;
    margin:0 auto 2em auto;
    width:1024px;
    height:auto;
    overflow-x:auto;
    padding:0 36px;
    background:#FFF;
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;

    a {
      color:#000;
      border-bottom:#000 1px solid;
      text-align:left;
    }

    li {
      list-style-type:none;
      margin:0;
      padding:0;

       p {
         text-align:left;
         font-family:'Calibre-Regular', 'Helvetica Neue', 'Arial', sans-serif;
         margin:0 0 0.5em 0;
       }
    }
  }

  .item {
    padding-top:8px;

    .container {
      width:760px;
      margin:0 auto;
    }

    .illo {
      width:760px;
      height:20em;
    }
  }
}
