@font-face {
  font-family: 'Circular-Bold';
  src: url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Circular-Bold.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Circular-Bold.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Circular-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Calibre-Regular.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Calibre-Regular.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Calibre-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre-Semibold';
  src: url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Calibre-Semibold.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Calibre-Semibold.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/projectsbyif.com/fonts/Calibre-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
