body {
  color: black;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: white;
  margin-bottom: $footer-height !important;
  z-index: 10;
}

/* Header */

header h1 {
  padding-left: $desktop-spacing-sm;
}

header h1,
.title,
.see-all-patterns-link {
  color: black;
  font-size: 1.5rem;
  text-transform: lowercase;
}

/* Accessibility */
// Skip to main content link

.skip-to-content, .skip-to-content-noscript {
  position: absolute;
  top: -200px;
  left: 35px;
  line-height: 25px;
}

.skip-to-content:focus, .skip-to-content-noscript:focus {
  top: 0;
  background-color: #000F7D;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  left: 0;
  text-decoration: underline;
}

.skip-to-content-noscript {
  display: none;
}

h2#content {
  tabindex: 0;
}

// Back to top button

.back-to-top {
  position: absolute;
  right: -500px;
}

.back-to-top:focus {
  right: 0;
  background-color: #000F7D;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}
