$color-seperator-grey: #f1f0ee;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: #212121;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #212121;
  color: #fff;
  text-shadow: none;
}

body {
  font-family: "Calibre-Regular", "Helvetica Neue", "Arial", sans-serif;
  font-size: 19px;
  color: #212121;
}

h1 {
  font-family: "Circular-Bold", "Helvetica Neue", "Arial", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
}

h2 {
  font-family: "Circular-Bold", "Helvetica Neue", "Arial", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
}

h3 {
  font-family: "Circular-Bold", "Helvetica Neue", "Arial", sans-serif;
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 500;
}

a, a:hover {
  color: #000;
  border-bottom: #000 1px solid;
}

header {
  background: #FFF;
  height: 50px;
  border-bottom: #{$color-seperator-grey} 1px solid;
  margin-bottom: 19px !important;

  .logo {
    display: block;
    text-indent: -9999px;
    background-image: url('/images/if-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 0;
    height: 30px;
    width: 21px;
    float: left;
    margin-top: 11px;
    margin-right: 10px;
  }

  .title {
    float: left;
    margin-top: 15px;
    font-family: "Calibre-Semibold", "Helvetica Neue", Helvetica, sans-serif;
  }

  .mobile-menu-link {
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 0;
    background-image: url('/images/menu.svg');
    background-size: 40% 40%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background: #f0f4f6;

  p {
    margin-bottom: 0;
  }
}

.contents {
  list-style-type: none;
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;

  p {
    margin-bottom: 10px;
  }
}

.images {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;

  img {
    max-height: 500px;
  }
}

main {
  min-height: calc(100vh - 241px);
}

.grid-container {
  padding-left: 20px;
  padding-right: 20px;
}

.desktop-break {
  display: none;
}

.pattern-block {
  border-bottom: 0;
  display: block;
  margin-bottom: 40px;

  &:hover {
    border-bottom: 0;
  }

  .image {
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #FFEBDC;
  }

  img {
    max-height: 180px;
    width: 100%;
  }

  .title {
    margin-bottom: 5px;
    font-family: "Circular-Bold", "Helvetica Neue", "Helvetica", sans-serif;
  }

  .description {
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ff5e23;
  text-align: center;
  z-index: 1;
  display: none;

  ul {
    margin: 0;
    font-family: "Circular-Bold", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 36px;
    height: 108px;
    margin-top: calc(50vh - (108px / 2) - 20px);

    li {
      list-style-type: none;
      margin: 0;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        border: 0;
        color: #FFF;
      }

      p {
        margin: 0;
      }
    }
  }
}

.pattern-category {
  font-size: 0.5em;
  margin-left: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: #212121 2px solid;
  padding: 5px 10px;
}

.category-nav {
  list-style-type: none;
  margin: 0;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: "Circular-Bold", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase;

  li {
    width: calc(50% - 5px);
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 8px 8px 6px 8px;
    border: #212121 2px solid;

    &.active {
      background: #212121;

      a {
        color: #FFF;
      }
    }

    a {
      border-bottom: 0;
      margin: 0;
      padding: 0;
    }
  }
}

.desktop-menu {
  display: none;
}

iframe {
  width: 100%;
}

.pattern-image {
  background: #ff5e23;
  margin-bottom: 10px;
  position: relative;

  .cell {
    padding: 0;
  }
}

.carousel-control {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  border-bottom: 0 !important;
  position: absolute;
  top: calc(50% - 20px);
  display: none;
  border-bottom: 0;

  &.previous {
    background: red;
    left: 0;
  }

  &.next {
    background: green;
    right: 0;
  }
}

.carousel-indicator {
  width: 100%;
  height: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  .wrapper {
    overflow: auto;
  }

  .dot {
    border-bottom: 0;
    display: block;
    float: left;
    background: #212121;
    text-indent: -9999px;
    border-radius: 8px;
    width: 8px;
    height: 8px;
    opacity: 0.25;
    margin-right: 4px;

    &:last-of-type {
      margin-right: 0px;
    }

    &.active {
      opacity: 1.0;
    }
  }
}

.homepage-intro {
  background-image: url('/images/homepage-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 61px);
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: -19px !important;
  margin-bottom: 20px;
  position: relative;
  left: -20px;
  width: 100vw;

  h1 {
    margin-bottom: 60px;
  }

  a {
    border: #000 2px solid;
    padding: 15px 15px 15px 15px;
    font-family: "Circular-Bold", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 0.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .cell {
    margin-top: 50%;
  }
}

.desktop-menu-container {
  display: none;
}

@media screen and (min-width: 639px) {
  body {
    font-size: 22px;
  }

  h1 {
    font-size: 55px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 22px;
  }

  header {
    height: 70px;
    margin-bottom: 40px !important;
    max-width: 100vw !important;

    .grid-x {
      margin: 0 auto !important;
      max-width: 92rem;
    }

    .logo {
      width: 33px;
      height: 45px;
      margin-top: 12px;
      margin-right: 20px;
    }

    .title {
      margin-top: 23px;
    }
  }

  footer {
    margin-top: 40px;
  }

  .contents {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin-top: 80px;
  }

  .images {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .home-title {
    text-align: center;
  }

  main {
    min-height: calc(100vh - 240px);
  }

  .mobile-break {
    display: none;
  }

  .desktop-break {
    display: inline;
  }

  .category-nav {
    // margin-top: 80px;
    margin-bottom: 40px;

    li {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 8px 10px 6px 10px;
    }
  }

  .mobile-menu-link {
    display: none;
  }

  .desktop-menu {
    display: block;
    margin: 0;
    overflow: auto;
    float: right;
    margin-top: 23px;

    li {
      list-style-type: none;
      float: left;
      margin-right: 20px;

      a {
        border-bottom: 0;
        margin-bottom: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .mobile-menu {
    display: none;
  }

  iframe {
    width: 100%;
    height: 430px;
  }

  .pattern-image {
    margin-bottom: 40px;
  }

  .homepage-intro {
    width: 100%;
    height: 400px;
    background-repeat: repeat;
    background-size: 45%;
    position: inherit;
    left: 0;
    margin-bottom: 40px;

    .cell {
      margin-top: 5%;
    }
  }

  .mobile-menu-container {
    display: none;
  }

  .desktop-menu-container {
    display: block;
  }
}
