body {
  color: $color-font;
  font-family: 'neue-haas-unica', sans-serif;
}

// .container class provides full-width background-color for non-footer content at every screen size.
.container {
  background-color: white;
  padding: 0 $desktop-internal-padding;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'neue-haas-unica', sans-serif;
}

h3 {
  font-weight: 600;
}

main.grid-container {
  background-color: white;
  margin-bottom: $desktop-footer-height;
  z-index: 10;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Accessibility */
// Skip to main content link

.skip-to-content, .skip-to-content-noscript {
  position: absolute;
  top: -200px;
  left: 35px;
  line-height: 25px;
}

.skip-to-content:focus, .skip-to-content-noscript:focus {
  top: 0;
  background-color: #000F7D;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  left: 0;
  text-decoration: underline;
}

.skip-to-content-noscript {
  display: none;
}

h2#content {
  tabindex: 0;
}

// Back to top button

.back-to-top {
  color: white;
}
