header {
  background: linear-gradient(-180deg, white 0%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;

  &.pattern {
    height: 170px;
  }

  img {
    height: 30px;
  }

  h1 {
    display: inline-block;
  }

  h1,
  .title,
  .see-all-patterns-link {
    color: black;
    font-size: 1.1rem;
    line-height: 30px;
    text-transform: lowercase;
    vertical-align: middle;
  }
}
