header {
  background: linear-gradient(-180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  position: sticky;
  top: 0;
  z-index: 10;

  h1 {
    padding-left: $desktop-spacing-sm;
  }

  h1,
  .title,
  .see-all-patterns-link {
    color: black;
    font-size: 1.5rem;
    text-transform: lowercase;
  }
}
