/* Intro */

.hompage-intro {
  h1 {
    margin: 3rem 0 5rem 0;
  }

  h2 {
    margin: 0 0 5rem 0;
  }
}

.homepage-action-items {
  margin: 0 0 4rem 0;

  ul {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }

  p,
  a {
    font-size: 1.25rem;
  }
}



/* Category Nav */

.category-nav {
  details {
    cursor: pointer;
  }

  summary {
    font-size: 1.25rem;
  }

  ul {
    margin: 1rem 0;
  }

  li {
    display: inline-block;
    font-size: 1.25rem;
    padding: 0 1rem;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  a {
    &.active {
      text-decoration: underline;
    }
  }
}

/* Category List */

.category-list {
  margin: 3rem 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    cursor: pointer;
    margin: 3rem 0.5rem;
    max-height: 175px;
    flex: 1 1 22%;

    .pattern-image {
      background-color: $color-pattern-image;
      padding: 1rem;
      height: 100%;
    }

    img {
      height: 100%;
      width: 100%;
    }

    a {
      color: $color-font;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 27px;
    }
  }
}

.show-all-button {
  display: none;
}
