/* Intro */

.hompage-intro {
  h1 {
    margin: 3rem 0 5rem 0;
  }

  h2 {
    margin: 0 0 5rem 0;
  }
}

.homepage-action-items {
  margin: 0 0 4rem 0;

  ul {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }

  p,
  a {
    font-size: 1.25rem;
  }
}



/* Category Nav */

.category-nav {
  h2 {
    font-size: 1rem;
  }

  li {
    display: inline-block;
    padding: 0 1rem;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

/* Category List */
hr {
  min-width: 100%;
}

.category-list {
  margin: 6rem 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    cursor: pointer;
    display: flex;
    margin: 2rem 0;
    max-height: 250px;
    width: 49%;

    .pattern-image,
    .pattern-title {
      width: 50%;
    }

    .pattern-image {
      background-color: $color-pattern-image;
      padding: 1rem;
      height: 100%;
    }

    .pattern-title {
      margin: 0 0 0 1rem;
    }

    img {
      height: 100%;
      width: 100%;
    }

    a {
      color: black;
      font-size: 1.5rem;
    }
  }
}
