@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  // // Clearfix
  .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }


  /* Home Page */

  // HEADER

  // Re-position title and menu
  header {
    position: static;
    width: 100%;
    overflow: hidden;
  }

  header .title, .page-menu {
    width: auto;
    height: 100%;
  }

  .page-menu {
    position: relative;
    top: -5px;
  }

  .grid-container.home {
    padding-top: 71px;
  }

  // Adjust main.home layout

  main.home {
    padding-top: 175px;
    padding-left: 0;
    padding-right: 0;
  }

  .homepage-intro {
    height: 288px;
    justify-content: flex-start;
  }

  .homepage-intro div {
    height: 100%;
    padding-left: 20px;
  }

  // MENU

  .pattern-category-title {
    left: 14px;
    margin-bottom: 4px;
  }

  // Fix open pattern category menu layout
  .category-nav {
    left: 0;
    width: 100%;
  }

  .category-nav ul {
    width: 100%;
    padding-right: 0;
  }

  .category-nav ul li {
    width: auto;
  }

  // GRID

  .grid-container.home .patterns-grid {
    padding: 0 15px;
  }

  /* Category pages */

  header {
    &.desktop-fixed {
      position: fixed;
    }
  }
}
