/* General */

main.pattern {
  margin-top: 10rem;
}

section {
  margin: $desktop-spacing-lg 0;
  position: relative;
  z-index: 5;
}

section h3 {
  font-size: 1.2rem;
  position: sticky;
  text-align: right;
  top: 2rem;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Heading */

.pattern-heading {
  // position: sticky;
  // top: 10rem;
  // z-index: 10;

  h1  {
    font-size: 2.5rem;
  }

  ul {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 1.25rem;

    &:first-of-type {
      margin: 0 1rem 0 0;
    }
  }

  .share,
  .print {
    color: black;
    text-transform: lowercase;
  }
}

/* Image */

.pattern-image {
  margin: 0;
}

.pattern-image-div {
  background-color: $color-pattern-image;

  img {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

/* Description */

.description {
  p {
    font-size: 1.5rem;
  }
}

/* Advantages & Limitations */

.advantages,
.limitations {
  li {
    font-size: 1.3rem;
    margin: 1rem 0;

    &:first-of-type {
      margin: 0 0 1rem 0;
    }
  }
}

/* Examples */

.examples {
  li {
    display: flex;
    font-size: $pattern-page-li-font-size;
    justify-content: space-between;

    &:first-of-type {
      margin: 0 0 $desktop-spacing-lg 0;
    }

    h4 {
      font-size: 1.4rem;
    }

    div {
      width: 70%;
    }
  }
}

/* Related Patterns */

.related-patterns {
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    display: flex;

    &:first-of-type {
      margin: 0 $desktop-spacing-lg 0 0;
    }

    div {
      background-color: $color-pattern-image;
      margin: 0 $desktop-spacing-lg 0 0;
    }
  }


  img {
    height: 200px;
  }

  a {
    color: black;
    font-size: 1.3rem;
  }
}

/* Feedback and Status */

.feedback {
  display: flex;

  p {
    flex: 0 0 auto;
    font-size: 1.3rem;
    margin: 0 $desktop-spacing-lg 0 0;
  }

  .success-message {
    display: none;
  }
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;

  input,
  a {
    color: black;
    font-size: 1.3rem;
    margin: 0 $desktop-spacing-lg 0 0;
  }

  a,
  button {
    text-decoration: underline;
  }

  .usage-feedback {
    flex: 0 0 auto;
  }

  .detailed-feedback {
    display: none;
    width: 100%;

    input {
      border: 1px solid black;
      height: 10rem;
      margin: 1rem 0;
      width: 100%;
    }

    button {
      font-size: 1.2rem;
    }
  }

  .usage-feedback input {
    background: 0;
    border: 0;
    cursor: pointer;
    height: 100%;
    text-decoration: underline;
  }

  .detailed-feedback input {

  }


}

.status {
  a {
    color: black;
    text-decoration: underline;
  }
}
