// Colors
$color-all: #EEE;
$color-authentication: #FFF2B3;
$color-automation: #FAC9A3;
$color-backup-data: #F7ADB6;
$color-control-access: #FAC8E9;
$color-consent: #DFCCFF;
$color-manage-consent: #BBEAFA;
$color-other: #A9BAE1;
$color-see-access: #C0F0D5;
$color-share-data: #D8EDB0;
$color-social-consent: #98D9CA;

// Home page colours:
$colour1: #FFEB82;
$colour2: #FAAF73;
$colour3: #F77787;
$colour4: #FAAFD7;
$colour5: #BE96FF;
$colour6: #7D9BE1;
$colour7: #96E1FA;
$colour8: #A0F0C3;

// Spacing
$desktop-spacing-xs: 0.75rem;
$desktop-spacing-sm: 1rem;
$desktop-spacing-med: 1.5rem;
$desktop-spacing-lg: 2rem;
$desktop-spacing-xl: 3rem;

// Fonts
$footer-font-family: 'Rubik', sans-serif;
$h2-font-family: "Calibre-Semibold", "Helvetica Neue", "Arial", sans-serif;
$h3-font-family: "Calibre-Semibold", "Helvetica Neue", "Arial", sans-serif;
$h2-font-size: 1.6rem;
$h3-font-size: 1.25rem;
$h2-font-weight: 400;
$footer-p-font-size: 1.25rem;
$pattern-page-li-font-size: 1.25rem;
$pattern-page-p-font-size: 1rem;
