---
---

.support {
  display: none;
}

.no-support {
  display: block;
  font-family: Helvetica, sans-serif;
}

// Header

.no-support__header {
  height: 650px;
  // background-color: black;
  color: black;
  font-size: 75px;
}

a, a:link, a:focus  {
  text-decoration: none;
  margin-left: 45%;
}

.no-support__header img {
  width: 10%;
  // margin-left: 45%;
}

.no-support__header h1 {
  text-align: center;
  padding-top: 150px;
}

.no-support__header p {
  padding: 40px;
  font-size: 25px;
  text-align: center;
}
