---
---
$main-wrapper-height: 288px;
* {
  outline: red solid 1px;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* Home Page */
// HEADER

// Re-position title and menu
header {
  width: 100%;
  overflow: hidden;
}

header .title, .page-menu {
  width: auto;
  height: 100%;
}

.page-menu {
  position: relative;
  top: 0px;
  float: right;
}

// Adjust main.home layout

main.home {
  padding-top: 175px;
  padding-left: 0;
  padding-right: 0;
}

.homepage-intro {
  height: $main-wrapper-height;
}

.homepage-intro div {
  height: 100%;
}

// MENU

// Adjust pattern category menu layout
.pattern-category-menu:after{
  visibility: hidden;
display: block;
content: "";
clear: both;
height: 0;
}

.pattern-category-title {
  left: 0;
  margin-bottom: 4px;
}

.pattern-category-title .cell {
  padding-left: 20px;
}

// Fix open pattern category menu layout
.category-nav {
  left: 0;
  width: auto;
}

.category-nav ul {
  width: 100%;
}

.category-nav ul li {
  width: auto;
}

// GRID

// Patterns Grid
.patterns-grid {
  width: 100%;
  margin: 0 !important;
  padding: 0px 25px;
}

.patterns-grid .cell {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
}

/* Patterns Page */

.grid-container.pattern {
  margin-top: 50px;
}
.pattern-image {
  height: auto;
}

.limitations-div{
  margin-left: 16.66%;
}

/* Content Pages */
.page-content h2 {
  margin-top: 30px;
}
