---
---

/* Desktop - show menu when JS disabled and re-set Skip To Content button link.. */
.pattern-category-title {
  display: none;
}

.category-nav {
  display: block;
}

.skip-to-content {
  display: none;
}

.skip-to-content-noscript {
  display: block;
}

/* Mobile menu adjustments */
.no-script-menu {
  display: none;
}

@media screen and (max-width: 638px) {
  main {
    padding-top: 70px;
  }
  header .logo {
    background-position: center right;
  }
  header .title {
    width: calc(100% - 42px);
  }
  header .menu {
    display: none;
  }
  .no-script-menu {
    display: block;
    width: auto;
  }
  .homepage-intro noscript a {
    display: inline-block;
    width: 256px;
  }

  .homepage-intro .first {
    margin-top: 21px;
  }
  .cta {
    margin-bottom: 10px;
  }
}

/* Verifiable Proof carousel replacement */

.pattern-image noscript {
  width: 100%;
}

.no-script-image-div{
  left: -1.625rem;
  height: 100%;
  width: 100%;
}

.no-script-image-div .three-image {
  height: 100%;
}

.carousel-control, .carousel-indicator {
  display: none;
}

.three-image.phone {
  display: none;
}

@media screen and (max-width: 638px) {
  .pattern-image{
    height: 359px;
  }
  .three-image.desktop {
    display: none;
  }
  .three-image.phone {
    display: block;
  }
}
