<footer class="mobile-only">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-6 small-12 cell">
        <h2>Patterns Catalogue</h2>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-5 small-12 cell">
        <h3>IF publishes these patterns and works with civil society groups, charities and companies to define ethical and practical uses of data.</h3>
      </div>
      <div class="get-in-touch large-4 large-offset-1 small-12 cell">
        <h4>Interested in working together? Get in touch</h4>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
        <br><a href="#">hello@projectsbyif.com</a>

        <h4>Contribute</h4>
        <a href="#">Join the discussion on Github</a>
        <p class="license">Licenced under <span>Creative Commons Attribution 4.0 International</span></p>
        <a class="data-usage-statement" href="https://www.projectsbyif.com/how-if-uses-data">How IF uses data</a>
        <div class="logo large-2 small-12 cell">
          <img src="{{ "images/if-logo-white.svg" | relURL }}" alt="Projects By IF">
        </div>
      </div>
    </div>
  </div>
</footer>
