<footer class="mobile-only">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="title large-6 small-12 cell">
        <h2>{{ .Site.Title }}</h2>
      </div>
      <div class="small-12 cell">
        <h3>IF publishes these patterns and works with civil society groups, charities and companies to define ethical and practical uses of data.</h3>
      </div>
      <div class="small-12 cell">
        <div class="get-in-touch">
          <a href="mailto:hello@projectsbyif.com">
            <h4>Interested in working together?</h4>
            <p>hello@projectsbyif.com</p>
          </a>
        </div>
      </div>
      <div class="small-12 cell">
        <div class="contribute">
          <a href="https://github.com/projectsbyif/data-permissions-catalogue">
            <h4>Contribute</h4>
            <p>Join the discussion on Github</p>
          </a>
        </div>
      </div>
      <div class="small-12 cell">
        <p class="license">Licenced under <br><a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a></p>
      </div>
    </div>
    <div class="fix-to-bottom grid-x grid-padding-x">
      <div class="small-6 cell">
        <div class="links">
          <ul>
            <li><a href="https://twitter.com/projectsbyif">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/projects-by-if/">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/projectsbyif/">Instagram</a></li>
            <li><a href="https://www.projectsbyif.com/how-if-uses-data">How IF uses data</a></li>
          </ul>
        </div>
      </div>
      <div class="logo small-6 cell">
        <div>
          <img src="{{ "images/if-logo-white.svg" | relURL }}" alt="Projects By IF" />
        </div>
      </div>
    </div>
  </div>
</footer>
