<footer class="desktop-only">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-3 medium-5 small-12 cell">
        <h2>{{ .Site.Title }}</h2>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-5 medium-5 small-12 cell">
        <h3>IF publishes these patterns and works with civil society groups, charities and companies to define ethical and practical uses of data.</h3>
      </div>
      <div class="contact large-3 large-offset-1 medium-4 small-12 cell">
        <div class="get-in-touch">
          <a href="mailto:hello@projectsbyif.com">
            <h4>Interested in working together?</h4>
            <p>Get in touch</p>
          </a>
        </div>
        <div class="contribute">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0QIXrZaK9GTKqp3jsiEKWKITGfrq1AowgvI5ldCnBV8s4JA/viewform">
            <h4>Tell us how you're using the catalogue</h4>
          </a>
        </div>
      </div>
      <div class="links large-2 large-offset-1 medium-3  small-12 cell">
        <ul>
          <li><a href="https://twitter.com/projectsbyif">Twitter</a></li>
          <li><a href="https://www.linkedin.com/company/projects-by-if/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/projectsbyif/">Instagram</a></li>
          <li><a href="https://www.projectsbyif.com/how-if-uses-data">How IF uses data</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-5 medium-9 small-12 cell">
        <p class="license">Licenced under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a></p>
      </div>
      <div class="logo large-2 large-offset-5 medium-3 small-12 cell">
        <a href="https://www.projectsbyif.com">
          <img src="{{ "images/if-logo-white.svg" | relURL }}" alt="Projects By IF">
        </a>
      </div>
    </div>
  </div>
</footer>
