<footer class="desktop-only">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-3 small-12 cell">
        <h2>Patterns Catalogue</h2>
      </div>
      <div class="large-6 small-12 cell">
        <h3>IF publishes these patterns and works with civil society groups, charities and companies to define ethical and practical uses of data.</h3>
      </div>
      <div class="links large-2 large-offset-1 small-12 cell">
        <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="https://www.projectsbyif.com/how-if-uses-data">How IF uses data</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="contribute large-3 large-offset-3 small-12 cell">
        <h4>Contribute</h4>
        <a href="https://github.com/projectsbyif/data-permissions-catalogue">Join the discussion on Github</a>
      </div>
      <div class="get-in-touch large-3 small-12 cell">
        <h4>Interested in working together?</h4>
        <a href="mailto:hello@projectsbyif.com">Get in touch</a>
      </div>
      <div class="logo large-2 large-offset-1 small-12 cell">
        <img src="{{ "images/if-logo-white.svg" | relURL }}" alt="Projects By IF">
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-5 large-offset-3 small-12 cell">
        <p class="license">Licenced under <span>Creative Commons Attribution 4.0 International</span></p>
      </div>
    </div>
  </div>
</footer>
