<header role="banner" class="grid-container {{ .Type }}">
  <a class="skip-to-content" href="#content">Skip to content</a>
  <a class="skip-to-content-noscript" href="#content-noscript">Skip to content</a>
  <div class="grid-x grid-padding-x">
    <div class="small-12 large-4 cell">
      <h1>
        <a href="/" class="title">
          {{ .Site.Title }}
        </a>
      </h1>
    </div>
    <div class="small-12 large-1 large-offset-7 cell">
      <p class="made-by">Made by IF</p>
    </div>
  </div>
</header>
