<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if eq .Type "patterns"}}
    {{ .Page.Title }} | Patterns Catalogue
    {{ else }}
    {{ .Title }}
    {{ end }}
  </title>
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/apple-touch-icon.png?v=WGoJrwxmWP" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon-32x32.png?v=WGoJrwxmWP" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=WGoJrwxmWP">
  <link rel="manifest" href="/images/site.webmanifest?v=WGoJrwxmWP">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=WGoJrwxmWP" color="#ff9169">
  <link rel="shortcut icon" href="/images/favicon.ico?v=WGoJrwxmWP">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/images/browserconfig.xml?v=WGoJrwxmWP">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ "/css/print.css" | relURL }}" media="print">
  <link rel="stylesheet" href="https://use.typekit.net/yig8xoh.css">
  <link rel="stylesheet" href="{{ "/css/foundation.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/css/homepage.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/css/pattern-page.css" | relURL }}">
  <!-- TODO: add page specific content and images -->
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <meta property="og:title" content="{{ .Title }} - IF">
  <meta property="og:description" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@projectsbyif">
  <meta name="twitter:creator" content="@projectsbyif">
  <meta name="twitter:title" content="{{ .Title }} - IF">
  <meta name="twitter:description" content="{{ .Content }}">
  {{ if isset .Params "images" }}
    <meta name="twitter:image" content="{{ (index .Params.images 0).url | relURL }}">
    <meta property="og:image" content="{{ (index .Params.images 0).url | relURL }}">
  {{ else }}
    <meta name="twitter:image" content="">
    <meta property="og:image" content="">
  {{ end }}
</head>
