<div class="feedback-and-status">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-7 large-offset-3 small-12 cell">
        <div class="feedback">
          <p>Did you use this pattern?</p>
          <div class="feedback-form">
            <form action="/" class="usage-feedback" name="usage" method="post" data-netlify="true">
              <input type="submit" value="Yes" name="usage" />
              <input type="hidden" value="Yes" name="usage" />
            </form>
            <form action="/" class="usage-feedback" name="usage" method="post" data-netlify="true">
              <input type="submit" value="No" name="usage" />
              <input type="hidden" value="No" name="usage" />
            </form>
            <a id="giveDetailedFeedback" href="#">Give Feedback</a>
            <form action="/" class="detailed-feedback" name="detailed-feedback" method="post" data-netlify="true">
              <input type="textbox" name="detailed-feedback" value="" />
              <button type="submit" name="button">Submit</button>
            </form>
          </div>
          <p class="success-message">Thank you!</p>
        </div>
      </div>
    </div>
  </div>
</div>
