{{ define "main" }}

{{ $pages := .Pages }}

<div class="background-image">
  <header class="homepage-intro grid-container">
     <div class="">
       <h1>Make services that put people in control of data</h1>
       <p><a href="https://www.projectsbyif.com">IF</a> curates and publishes design patterns to this catalogue. Teams use them to inform conversations about data and privacy.</p>
     </div>
  </header>

  <div class="grid-container nav">
    <ul class="category-nav">
      <li>
        <a class="active view-by-category" href="#">Categories</a>
      </li>
      <li>
        <a class="view-most-recent" href="#">Most Recent</a>
      </li>
      <li>
        <a class="view-alphabetically" href="#">Alphabetical</a>
      </li>
    </ul>
  </div>
</div>

{{ partial "homepage/category-view.html" . }}
{{ partial "homepage/most-recent-view.html" . }}
{{ partial "homepage/alphabetical-view.html" . }}

{{ end }}
