{{ define "main" }}

{{ $pages := .Pages }}

<header class="homepage-intro grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-6 large-offset-3 small-12 cell">
      <h1>Design services that put people in control of data</h1>
      <p>Teams around the world use these patterns to inform conversations and make services that work for people.</p>
    </div>
  </div>
</header>

<div class="grid-container nav">
  <ul class="category-nav">
    <li>
      <a class="active view-by-category" href="#">Categories</a>
    </li>
    <li>
      <a class="view-most-recent" href="#">Most Recent</a>
    </li>
    <li>
      <a class="view-alphabetically" href="#">Alphabetical</a>
    </li>
    <li class="push">
      <a class="expand-all" href="#">Expand all categories ▼</a>
    </li>
  </ul>
</div>

{{ partial "homepage/category-view.html" . }}
{{ partial "homepage/most-recent-view.html" . }}
{{ partial "homepage/alphabetical-view.html" . }}

{{ end }}
