---
title: Video verification
category: Verifying someone's identity
archived: false
future_pattern: false

advantages:
 - It’s a low friction, fast and efficient way for users to verify their identity
 - It’s a more effective way of checking users identity because it’s harder to steal or covertly capture the right type video needed to verify a match

limitations:
 - Taking a selfie video may make users feel uncomfortable especially if there’s not a clear sense of how it is used or who it is shared with
 - Users may not be in an appropriate location to take a video, for example if they’re on the move or in a noisy or low light environment

examples:
 - title: Monzo and other banks without physical premises ask customers for video ID verification when setting up an account
   url: https://monzo.com/blog/2017/11/03/simple-signup-kyc/

date: 2019-04-08T17:05:52+01:00
lastmod: 2019-04-08
---
Users create a short video of themselves to prove to organisations that they are who they say they are. For example, banks might ask users to record a video of themselves to set up a new account.
