---
layout: default
---

{% if page.category == "All" %}
  {% assign patterns = site.patterns %}
{% else if %}
  {% assign patterns = site.patterns | where: "category": page.category %}
{% endif %}

<div class="pattern-category-title-anchor"></div>

<div class="grid-x grid-padding-x pattern-category-title category-page clear">
  <div class="wrapper">
    <div class="small-12 cell">
      <a href="#"><h2>{{ page.title }}<span class="category-counter">({{ patterns.size }})</span></h2><img src="/images/down.svg" /></a>
    </div>
  </div>
</div>

{% include category-nav.html %}

<div class="patterns-grid category-page grid-x grid-padding-x">
  {% for pattern in patterns %}
  <div class="large-4 small-12 cell">
    <a href="/patterns/{{ pattern.title | slugify }}" class="pattern-block">
      <div class="image{% if pattern.illustration_version == 1 %} illustration_version_1{% endif %} color-{{ page.category | slugify }}">
        {% if pattern.images[0].url %}
        <img src="{{ pattern.images[0].url }}" />
        {% endif %}
      </div>
      <p class="title">{{ pattern.title }}</p>
    </a>
  </div>
  {% endfor %}
</div>
