---
layout: default
---

{% if page.category == "All" %}
  {% assign patterns = site.patterns %}
{% else if %}
  {% assign patterns = site.patterns | where: "category": page.category %}
{% endif %}

<div class="pattern-category-title-anchor"></div>

<div class="grid-x grid-padding-x pattern-category-title">
  <div class="wrapper">
    <div class="small-12 cell">
      <a id="content" aria-expanded="false" aria-describedby="category-menu-tip" href="#">
        <h2>{{ page.title }}<span class="category-counter">({{ patterns.size }})</span></h2>
        <img aria-hidden="true" src="/images/down.svg" />
      </a>
      <div role="tooltip" id="category-menu-tip">
        Click to toggle Pattern Category Menu open and closed.
      </div>
    </div>
  </div>
</div>

{% include category-nav.html %}

<div class="patterns-grid grid-x grid-padding-x">
  {% for pattern in patterns %}
  <div class="large-4 small-12 cell">
    <a href="/patterns/{{ pattern.title | slugify }}" class="pattern-block">
      <div class="image{% if pattern.illustration_version == 1 %} illustration_version_1{% endif %} color-{{ page.category | slugify }}">
        {% if pattern.images[0].url %}
        <img aria-hidden="true" src="{{ pattern.images[0].url }}" />
        {% endif %}
      </div>
      <p class="title">{{ pattern.title }}</p>
    </a>
  </div>
  {% endfor %}
</div>
