---
layout: default
---

<div class="grid-x grid-padding-x">
  <div class="large-10 large-offset-1 small-12 cell">
    <div class="home-title">
      <h1>{{ site.title }}</h1>
      <p>Documenting design patterns for personal data sharing, with example uses and research.<span class="mobile-break"> </span><span class="desktop-break"> <br /></span>Work in progress. Maintained by <a href="https://projectsbyif.com">IF</a>.</p>
    </div>

    {% assign categories = site.category %}

    {% for category in categories %}
    <p><a href="/category/{{ category.title | slugify }}">{{ category.title }}</a></p>
    {% endfor %}

  </div>
</div>
