---
layout: default
---

<div class="grid-x grid-padding-x">
  <div class="large-10 large-offset-1 small-12 cell">
    <div class="home-title">
      <h1>{{ site.title }}</h1>
      <p>Documenting design patterns for personal data sharing, with example uses and research.<br />Work in progress. Maintained by <a href="https://projectsbyif.com">IF</a>.</p>
    </div>

    <ul class="contents">
    {% for item in site.patterns %}
      <li>
        <p>
          <a href="{{ item.slug | prepend: "/patterns/" }}">{{ item.title }}</a>
        </p>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
