{{ $pages := .Pages }}


<section class="homepage-section category-view">

{{ $categories := .Site.GetPage "/categories" }}
{{ range $categories.Params.list_of_categories }}

{{ $patterns := where $pages ".Params.category" "=" .name }}

<!-- Add class to section when toggled -->
  <div class="grid-container category-list {{ urlize .name }}">
    <div class="category-heading grid-x grid-padding-x">
      <div class="small-12 large-9 cell">
        <h2>{{ .name }} <span>{{ len $patterns }}</span></h2>
      </div>
    </div>
    <div class="grid-x grid-padding-x pattern-card-list">
      {{ range $index, $pattern := $patterns }}
      <div class="large-4 small-12 cell">
        <div onclick="window.location.assign('/patterns/{{ urlize .Params.title }}')" class="pattern-card {{ urlize .Params.category }}{{ if le $index 2 }} preview{{ end }}">
          <div class="pattern-card-image">
            <!-- TODO: Is isset best way to check this? -->
            {{ if isset .Params "images" }}
            <img src="{{ (index .Params.images 0).url | relURL }}" alt="{{ .Params.alt }}">
            {{ end }}
          </div>
          <div class="pattern-card-title">
            <a href="/patterns/{{ urlize .Params.title }}">{{ .Params.title }}</a>
            {{ $dateAdded := .Params.Date }}
            {{ if eq .Params.archived true }}
            <p class="archived">Archived 🗄️</p>
            {{ else if eq .Params.future_pattern true }}
            <p class="future-pattern">Future pattern 🔮</p>
            {{ end }}
            {{ if ge $dateAdded (now.AddDate 0 -1 0) }}
            <p class="new-pattern">New</p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="see-more-button-container">
      <hr>
      <a class="see-more-button" href="#">Expand category</a>
    </div>
  </div>
{{ end }}
</section>
