{{ $patterns := .Pages }}

<section class="homepage-section most-recent-view">
  <div class="grid-container">
    <div class="category-heading grid-x grid-padding-x">
      <div class="small-12 large-9 cell">
        <h2>Most recent patterns</h2>
      </div>
    </div>
    <div class="grid-x grid-padding-x pattern-card-list">
      {{ range sort $patterns .Params "date" "asc" }}
      <div class="large-4 small-12 cell">
        <div onclick="window.location.assign('/patterns/{{ urlize .Params.title }}')" class="pattern-card {{ urlize .Params.category }}">
          <div class="pattern-card-image">
            <img src="{{ (index .Params.images 0).url | relURL }}" alt="{{ .Params.alt }}">
          </div>
          <div class="pattern-card-title">
            <a href="/patterns/{{ urlize .Params.title }}">{{ .Params.title }}</a>
            {{ $dateAdded := .Params.Date }}
            {{ if eq .Params.archived true }}
            <p class="archived">Archived 🗄️</p>
            {{ else if eq .Params.future_pattern true }}
            <p class="future-pattern">Future pattern 🔮</p>
            {{ else if ge $dateAdded (now.AddDate 0 -1 0) }}
            <p class="new-pattern">New</p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</section>
