<div class="large-4 medium-6 small-12 cell pattern-card-container">
  <div onclick="window.location.assign('/patterns/{{ urlize .pattern.Params.title }}')" class="pattern-card {{ urlize .pattern.Params.category }}">
    <div class="pattern-card-image">
      <div class="tags">
        {{ $dateAdded := .pattern.Params.Date }}
        {{ if ge $dateAdded (now.AddDate 0 -1 0) }}
        <p class="new-pattern">Just added ✨</p>
        {{ end }}
        {{ if eq .pattern.Params.archived true }}
        <p class="archived">Archived 🗄️</p>
        {{ else if eq .pattern.Params.future_pattern true }}
        <p class="future-pattern">Future pattern 🔮</p>
        {{ end }}
      </div>
      {{ if isset .pattern.Params "images" }}
      <img src="{{ (index .pattern.Params.images 0).url | relURL }}" alt="{{ .pattern.Params.alt }}">
      {{ end }}
    </div>
    <div class="pattern-card-title">
      <a href="/patterns/{{ urlize .pattern.Params.title }}">{{ .pattern.Params.title }}</a>
    </div>
  </div>
</div>
